body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Light', sans-serif;
  background: #fff1f0;
  color: #333;
}

.dashboard {
  background: #ffffff; /* Updated value for consistency */
  border-radius: 20px;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.header-top, .site-branding {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.site-branding {
  justify-content: flex-start;
}

.logo {
  width: 15%;
  height: 15%;
  object-fit: contain;
}

.site-name {
  font-size: 150%;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #b3331b;
  margin-left: -1em;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-control, .form-control-fullwidth, .form-control-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  margin-top: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.search-container {
  text-align: center;
  padding: 10px;
}

.search-box {
  padding: 8px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
}

.search-button {
  padding: 10px 0;
  width: 100%;
  background-color: #dc4326;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #dc4326;
}

.header, .stats-container, .footer, .improvements {
  margin-bottom: 20px;
}

.stat {
  background: #F0F0F0;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.stat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.stat-header h2, .stat-header span {
  font-size: 1.2em;
  font-weight: 500;
}

.stat-header span {
  background: #D8D8D8;
  padding: 2px 8px;
  border-radius: 5px;
  font-size: 0.9em;
}

.stat-chart {
  height: 100px;
  background: #D8D8D8; /* Placeholder for chart */
}

.progress-bar-container, progress, progress::-webkit-progress-bar, progress::-webkit-progress-value, progress::-moz-progress-bar {
  width: 100%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 5px;
  -webkit-appearance: none;
  appearance: none;
}

progress::-webkit-progress-value, progress::-moz-progress-bar {
  background-color: #ff5e57;
}

.improvements li {
  margin-bottom: 10px;
  padding-left: 15px;
}

.improvements li:before {
  content: '•';
  color: #dc4326;
  display: inline-block;
  width: 20px;
  margin-left: -20px;
}

.form-control-textarea {
  resize: vertical;
}

#stats-block, #stats-block.visible {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

#stats-block.visible {
  max-height: 1000px; /* Adjust based on content */
}
